In [2]:

import pandas as pd

In [3]:
#loading the original dataset
df = pd.read_csv("../data/processed_data_test.csv")
display(df)

,index,DE_B01,DE_B09,DE_B10,DE_B11,DE_B12,DE_B15,DE_B16,DE_B18,DE_B19,...,UK_B19,UK_load,UK_surplus,y,year,month,day,hour,minute,second
0,7008,16888,88,21618,4624,140,384,0,21954,71153,...,0.0,552.0,-552.0,1,2022,10,19,23,0,0
1,7009,16826,88,24620,4595,98,384,0,21356,74168,...,0.0,552.0,-552.0,1,2022,10,20,0,0,0
2,7010,16854,88,25390,4567,95,385,0,20734,76469,...,0.0,552.0,-552.0,1,2022,10,20,1,0,0
3,7011,16963,88,24538,4530,146,386,0,20330,78409,...,0.0,552.0,-552.0,1,2022,10,20,2,0,0
4,7012,17167,88,15568,4560,156,388,0,20706,80819,...,0.0,552.0,-552.0,1,2022,10,20,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1748,8756,18411,92,11779,4908,150,396,0,16757,123138,...,412.0,552.0,-140.0,1,2022,12,31,19,0,0
1749,8757,18058,92,15420,4885,99,396,0,15590,121959,...,415.0,552.0,-137.0,2,2022,12,31,20,0,0
1750,8758,17879,92,16490,4867,113,396,0,14325,121516,...,338.0,552.0,-214.0,2,2022,12,31,21,0,0
1751,8759,17702,95,12912,4838,169,400,0,12742,116246,...,377.0,552.0,-175.0,2,2022,12,31,22,0,0
1752,8760,13083,80,6152,3607,218,309,0,9500,86259,...,146.0,552.0,-406.0,2,2022,12,31,23,0,0